# Data Processing with Python

In this notebook, we will load, clean, and save NBA historical data using `pandas` for data manipulation and `logging` for tracking our progress.

In [14]:
# Import necessary libraries
import pandas as pd  # For data manipulation and analysis
import logging  # For logging information, warnings, and errors
import os # For finding and setting the correct file paths

# Configure logging
logging.basicConfig(level=logging.INFO)

## Load Data

First, we will load the historical NBA data from a CSV file.

In [15]:
def load_data(historical_path):
    """
    Load the historical data from a CSV file.
    
    Args:
        historical_path (str): The file path to the historical data CSV.
    
    Returns:
        DataFrame: The loaded data as a pandas DataFrame.
    """
    logging.info(f'Loading historical data from %s {historical_path}')
    return pd.read_csv(historical_path)

In [25]:
BASE_DIR = os.getcwd()
BASE_DIR = os.path.dirname(BASE_DIR)
historical_path= os.path.join(BASE_DIR, 'scraper', 'historical_nba_stats.csv')

In [26]:
df = load_data(historical_path)
df.head()

INFO:root:Loading historical data from %s c:\Users\bartl\Desktop\General-Projects\NBA_Pred\scraper\historical_nba_stats.csv

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Curly Armstrong,G-F,31,FTW,63,NaN,NaN,144,516,0.279,...,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458,1950
1,Cliff Barker,SG,29,INO,49,NaN,NaN,102,274,0.372,...,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279,1950
2,Leo Barnhorst,SF,25,CHS,67,NaN,NaN,174,499,0.349,...,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438,1950
3,Ed Bartels,F,24,TOT,15,NaN,NaN,22,86,0.256,...,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63,1950
4,Ed Bartels,F,24,DNN,13,NaN,NaN,21,82,0.256,...,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59,1950

## Clean Data

Next, we will clean the data by dropping missing values and converting certain columns to numeric types. We will also add a new column `PER` as an example feature.

In [31]:
def clean_data(df):
    """
    Clean the data by dropping missing values and converting columns to numeric types.
    
    Args:
        df (DataFrame): The data to clean.
    
    Returns:
        DataFrame: The cleaned data.
    """
    logging.info('Cleaning data')
    df = df.dropna()
    df['PTS'] = pd.to_numeric(df['PTS'], errors='coerce')
    df['AST'] = pd.to_numeric(df['AST'], errors='coerce')
    df['TRB'] = pd.to_numeric(df['TRB'], errors='coerce')
    df['BLK'] = pd.to_numeric(df['BLK'], errors='coerce')
    df['STL'] = pd.to_numeric(df['STL'], errors='coerce')
    df['G'] = pd.to_numeric(df['G'], errors='coerce')
    df['TS%'] = (df['PTS'] / (df['FGA'] + (0.44 * df['FTA']))) # True Shooting percentage calculation
    df['PER'] = (df['PTS'] + df['AST'] + df['TRB']) / df['G']  # Player Efficiency Rating calculation
    return df

# Example usage
cleaned_df = clean_data(df)
cleaned_df.head()

INFO:root:Cleaning data
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PTS'] = pd.to_numeric(df['PTS'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AST'] = pd.to_numeric(df['AST'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TRB'] = pd.to_numeric(df['TRB'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BLK'] = pd.to_numeric(df['BLK'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['STL'] = pd.to_numeric(df['STL'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['G'] = pd.to_numeric(df['G'], errors='coerce')
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TS%'] = (df['PTS'] / (df['FGA'] + (0.44 * df['FTA']))) # True Shooting percentage calculation
C:\Users\bartl\AppData\Local\Temp\ipykernel_40880\486876774.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PER'] = (df['PTS'] + df['AST'] + df['TRB']) / df['G']  # Player Efficiency Rating calculation

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,TRB,AST,STL,BLK,TOV,PF,PTS,Year,TS%,PER
5773,Tiny Archibald*,PG,31,BOS,80,80.0,2864.0,383,794,0.482,...,197.0,671,106.0,10.0,242.0,218,1131,1980,1.147757,24.987500
5789,Del Beshore,PG,23,CHI,68,0.0,869.0,88,250,0.352,...,63.0,139,58.0,5.0,104.0,105,244,1980,0.846399,6.558824
5790,Henry Bibby,PG,30,PHI,82,8.0,2035.0,251,626,0.401,...,208.0,307,62.0,6.0,147.0,161,739,1980,0.982922,15.292683
5791,Larry Bird*,PF,23,BOS,82,82.0,2955.0,693,1463,0.474,...,852.0,370,143.0,53.0,263.0,279,1745,1980,1.076230,36.182927
5805,Ron Brewer,SG,24,POR,82,82.0,2815.0,548,1182,0.464,...,214.0,216,98.0,48.0,167.0,154,1286,1980,1.005976,20.926829

## Save Data

Finally, we will save the cleaned data to a new CSV file.

In [ ]:
def save_data(df, filename='cleaned_nba_stats.csv'):
    """
    Save the cleaned data to a CSV file.
    
    Args:
        df (DataFrame): The data to save.
        filename (str): The name of the file to save the data to. Defaults to 'cleaned_nba_stats.csv'.
    
    Returns:
        None
    """
    logging.info('Saving cleaned data to %s', filename)
    df.to_csv(filename, index=False)

# Example usage
save_data(cleaned_df)

## Complete Data Processing Workflow

We can now run the complete data processing workflow: load, clean, and save data.

In [ ]:
# Load data
df = load_data(historical_path)

# Clean data
cleaned_df = clean_data(df)

# Save cleaned data
save_data(cleaned_df)